<h1>Edit photo</h1>

<form action="/create_photo">
  <label>
    Caption:
  </label>
  <input type="text" name="the caption" value="<%=@photo.caption%>">

  <label>
    Source:
  </label>
  <input type="text" name="the_source" value="<%=@photo.source%>">

  <button>
    Create Photo
  </button>

</form>
