<h1>Add A New Photo</h1>

<form action="/create_photo">
  <label>
    Caption:
  </label>
  <input type="text" name="the caption">

  <label>
    Source:
  </label>
  <input type="text" name="the_source">

  <button>
    Create Photo
  </button>

</form>
